
.titmv{
	font-family: 'Russo One', sans-serif;
	text-decoration-line: underline;
	color: #02784B;
}
.ptex{
	text-align: justify;
	font-weight: bolder;
	color: #0F1D5A;
}
.mvima{
	box-shadow: 2px 2px 50px #666; 
	border: #02784B 1px solid;
}
.mvima:hover{
	transition: 1s;
	transform: scale(1.3);
	box-shadow: 6px 6px 3px #666;
}